@font-face {
  font-family: "Metropolis Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Regular"), url("fonts/metropolis/Metropolis-Regular.woff") format("woff"); }

@font-face {
  font-family: "Metropolis Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Bold"), url("fonts/metropolis/Metropolis-Bold.woff") format("woff"); }

@font-face {
  font-family: "Metropolis Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Semi Bold"), url("fonts/metropolis/Metropolis-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Metropolis Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Extra Bold"), url("fonts/metropolis/Metropolis-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"), url("fonts/inter/Inter-Regular.woff") format("woff"); }

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Semi Bold"), url("fonts/inter/Inter-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold"), url("fonts/inter/Inter-Bold.woff") format("woff"); }

@font-face {
  font-family: "Inter Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Extra Bold"), url("fonts/Inter/Inter-ExtraBold.woff") format("woff"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #20123a;
  line-height: 1.2;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 2.7rem;
  font-weight: normal;
  font-family: "Metropolis Extra Bold", sans-serif; }

h2 {
  font-size: 2.4rem;
  font-weight: normal;
  font-family: "Metropolis Extra Bold", sans-serif; }

h3 {
  font-size: 2.1rem;
  font-weight: normal;
  font-family: "Metropolis Bold", sans-serif; }

h4 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "Metropolis Bold", sans-serif; }

h5 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Metropolis Semi Bold", sans-serif; }

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Metropolis Semi Bold", sans-serif; }

p {
  font-family: "Inter Regular", sans-serif;
  color: #242a2f; }

hr {
  display: block;
  margin: 0.5em 0;
  border: none;
  border-bottom: 1px solid #cad2d8;
  opacity: 0.5; }

button {
  font-weight: normal;
  font-family: "Inter Semi Bold", sans-serif; }

.container {
  width: 65%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 480px) {
    .container {
      width: 90%; } }

.code-block {
  padding: 30px;
  border: 2px solid cyan;
  border-radius: 0.15rem; }

.section {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.section-dark {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #20123a; }
  .section-dark h1,
  .section-dark h2,
  .section-dark h3,
  .section-dark h4,
  .section-dark h5,
  .section-dark h6,
  .section-dark p {
    color: white; }

.navbar {
  display: flex;
  width: 100%;
  padding: 0rem 0rem;
  list-style: none;
  background-color: #20123a;
  color: white;
  min-height: 4.2rem; }
  .navbar .nav-item {
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
    color: white;
    height: 100%;
    transition: all ease-in-out 0.1s;
    cursor: pointer; }
    .navbar .nav-item:hover {
      color: #f2f2f2; }
  .navbar .nav-item-dropdown {
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
    color: white;
    height: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.125s; }
    .navbar .nav-item-dropdown:hover {
      color: #f2f2f2; }
    .navbar .nav-item-dropdown:hover .dropdown-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all; }
    .navbar .nav-item-dropdown .dropdown-content {
      position: absolute;
      align-self: baseline;
      opacity: 0;
      background-color: white;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      color: #20123a;
      left: 0;
      padding: 1rem 1rem;
      border-radius: 0.15rem;
      z-index: 1;
      width: max-content;
      pointer-events: none;
      margin-top: 3.5rem;
      transform: translateY(-0.5rem);
      transition: all ease-in-out 0.125s; }
      .navbar .nav-item-dropdown .dropdown-content .nav-item {
        transition: all ease-in-out 0.125s;
        padding: 0.4rem 0.2rem; }
        .navbar .nav-item-dropdown .dropdown-content .nav-item:hover {
          color: #0060df; }
      .navbar .nav-item-dropdown .dropdown-content > .nav-item {
        color: #20123a; }
  .navbar a {
    text-decoration: none;
    color: white; }

.navbar-light {
  background-color: white;
  color: #20123a;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .navbar-light .nav-item {
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
    color: #20123a;
    height: 100%;
    transition: all ease-in-out 0.1s;
    cursor: pointer; }
    .navbar-light .nav-item:hover {
      color: #150c27; }
  .navbar-light .nav-item-dropdown {
    display: flex;
    align-items: center;
    padding: 0rem 0.75rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
    color: #20123a;
    height: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.125s; }
    .navbar-light .nav-item-dropdown:hover {
      color: #150c27; }
    .navbar-light .nav-item-dropdown:hover .dropdown-content {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all; }
    .navbar-light .nav-item-dropdown .dropdown-content {
      position: absolute;
      align-self: baseline;
      opacity: 0;
      background-color: white;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      color: #20123a;
      left: 0;
      padding: 1rem 1rem;
      border-radius: 0.15rem;
      z-index: 1;
      width: max-content;
      pointer-events: none;
      margin-top: 3.5rem;
      transform: translateY(-0.5rem);
      transition: all ease-in-out 0.125s; }
      .navbar-light .nav-item-dropdown .dropdown-content .nav-item {
        transition: all ease-in-out 0.125s;
        padding: 0.4rem 0.2rem; }
        .navbar-light .nav-item-dropdown .dropdown-content .nav-item:hover {
          color: #0060df; }
      .navbar-light .nav-item-dropdown .dropdown-content > .nav-item {
        color: #20123a; }
  .navbar-light a {
    text-decoration: none;
    color: #20123a; }

.navbar-sm {
  min-height: 2.8rem; }
  .navbar-sm .nav-item {
    font-size: 0.9rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif; }
  .navbar-sm .nav-item-dropdown {
    font-size: 0.9rem;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif; }
    .navbar-sm .nav-item-dropdown .dropdown-content {
      margin-top: 2.5rem; }
  .navbar-sm .navbar-brand {
    display: inline-flex;
    align-items: center;
    margin-right: 2.75rem;
    height: 100%; }
    .navbar-sm .navbar-brand .navbar-brand-title {
      font-size: 1.2rem;
      font-weight: normal;
      font-family: "Metropolis Semi Bold", sans-serif; }
    .navbar-sm .navbar-brand .navbar-brand-logo {
      width: 1.65rem;
      margin-right: 0.8rem; }

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 10; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 480px) {
    .navbar-container {
      width: 90%; } }

.navbar-container-fluid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.85rem; }
  @media only screen and (max-width: 480px) {
    .navbar-container-fluid {
      width: 90%; } }

.navbar-brand {
  display: inline-flex;
  align-items: center;
  margin-right: 2.75rem;
  height: 100%; }
  .navbar-brand .navbar-brand-title {
    font-size: 1.56rem;
    font-weight: normal;
    font-family: "Metropolis Semi Bold", sans-serif; }
  .navbar-brand .navbar-brand-logo {
    width: 2.25rem;
    margin-right: 0.8rem; }

.nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  @media only screen and (max-width: 480px) {
    .nav {
      display: none; } }

.alert {
  font-family: "Inter Semi Bold", sans-serif;
  font-weight: normal;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 2px solid transparent;
  margin-bottom: 1rem;
  border-radius: 0.15rem; }
  .alert .alert-link {
    font-family: "Inter Extra Bold", sans-serif;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer; }

.alert-primary {
  color: white;
  background-color: #0060df; }

.alert-secondary {
  color: white;
  background-color: #9858f4; }

.alert-success {
  color: white;
  background-color: #28a745; }

.alert-danger {
  color: white;
  background-color: #dc3545; }

.alert-outline-primary {
  color: #0060df;
  background-color: transparent;
  border: 2px solid #0060df; }

.alert-outline-secondary {
  color: #9858f4;
  background-color: transparent;
  border: 2px solid #9858f4; }

.alert-outline-success {
  color: #28a745;
  background-color: transparent;
  border: 2px solid #28a745; }

.alert-outline-danger {
  color: #dc3545;
  background-color: transparent;
  border: 2px solid #dc3545; }

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0.4rem 1rem;
  line-height: 1.5;
  border-radius: 0.15rem;
  margin: 0.2rem 0rem;
  cursor: pointer; }

.btn-primary {
  color: #fff;
  background-color: #0060df;
  transition: all ease-in-out 0.15s; }
  .btn-primary:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #0057cb; }

.btn-secondary {
  color: #fff;
  background-color: #9858f4;
  transition: all ease-in-out 0.15s; }
  .btn-secondary:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #8c45f3; }

.btn-success {
  color: #fff;
  background-color: #28a745;
  transition: all ease-in-out 0.15s; }
  .btn-success:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #24973e; }

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  transition: all ease-in-out 0.15s; }
  .btn-danger:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #d72536; }

.btn-outline-primary {
  color: #0060df;
  background-color: transparent;
  border-color: #0060df;
  transition: all ease-in-out 0.125s; }
  .btn-outline-primary:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #0057cb;
    border-color: #0057cb; }

.btn-outline-secondary {
  color: #9858f4;
  background-color: transparent;
  border-color: #9858f4;
  transition: all ease-in-out 0.125s; }
  .btn-outline-secondary:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #8c45f3;
    border-color: #8c45f3; }

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  border-color: #28a745;
  transition: all ease-in-out 0.125s; }
  .btn-outline-success:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #24973e;
    border-color: #24973e; }

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  border-color: #dc3545;
  transition: all ease-in-out 0.125s; }
  .btn-outline-danger:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #d72536;
    border-color: #d72536; }

.btn-sm {
  font-size: 0.75rem;
  padding: 0.3rem 0.75rem;
  line-height: 1.5; }

.btn-lg {
  font-size: 1.3rem;
  padding: 0.6rem 1.5rem;
  line-height: 1.5; }

.btn-xl {
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  line-height: 1.5; }

.btn-block {
  display: block;
  width: 100%; }

.btn:disabled {
  opacity: 0.65; }
  .btn:disabled:hover {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    cursor: not-allowed; }

.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle; }

.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group > .btn:not(:first-child) {
  margin-left: -1px; }

.btn-group > .btn {
  margin: 0; }
  .btn-group > .btn:hover {
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24); }
  .btn-group > .btn:active {
    transform: translate(0);
    filter: brightness(85%); }

ol {
  list-style: none; }

.breadcrumb {
  display: flex;
  font-family: "Inter Regular", sans-serif;
  font-weight: normal;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 2px solid transparent;
  margin-bottom: 1rem;
  border-radius: 0.15rem;
  background-color: #dfedff; }
  .breadcrumb .breadcrumb-item {
    margin-right: 0.3rem; }
    .breadcrumb .breadcrumb-item:not(:last-child):after {
      content: "/";
      color: #242a2f; }
    .breadcrumb .breadcrumb-item.active {
      cursor: default;
      color: #242a2f; }
  .breadcrumb a {
    color: #0060df;
    text-decoration: none; }
  .breadcrumb.breadcrumb-dark {
    background-color: #0060df;
    color: white; }
    .breadcrumb.breadcrumb-dark a {
      color: white;
      text-decoration: none; }
    .breadcrumb.breadcrumb-dark .breadcrumb-item {
      margin-right: 0.3rem; }
      .breadcrumb.breadcrumb-dark .breadcrumb-item:not(:last-child):after {
        content: "/";
        color: white; }
      .breadcrumb.breadcrumb-dark .breadcrumb-item.active {
        font-family: "Inter Bold", sans-serif;
        cursor: default;
        color: white; }

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.15rem;
  background-color: white;
  border: 1px solid #cad2d8;
  transition: all ease-in-out 0.15s; }
  .card .card-body {
    padding: 0.75rem 1.25rem; }
    .card .card-body .card-title {
      color: #20123a;
      margin-bottom: 1rem; }
    .card .card-body .card-text {
      color: #242a2f;
      margin-bottom: 1rem; }
    .card .card-body .card-link {
      display: inline-block;
      font-family: "Inter Regular", sans-serif;
      font-weight: normal;
      text-decoration: none;
      margin-bottom: 0.5rem;
      color: #0060df; }
      .card .card-body .card-link:not(:last-child) {
        margin-right: 1rem; }
  .card:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card .card-img-top {
    border-top-right-radius: 0.15rem;
    border-top-left-radius: 0.15rem;
    object-fit: cover;
    height: 14rem; }

* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialised;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  outline: none; }
