ol {
  list-style: none;
}

.breadcrumb {
  display: flex;
  font-family: "Inter Regular", sans-serif;
  font-weight: normal;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 2px solid transparent;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  background-color: lighten($lighter-grey, 10%);
  .breadcrumb-item {
    margin-right: 0.3rem;
    &:not(:last-child):after {
      content: "/";
      color: $light-grey;
    }
    &.active {
      cursor: default;
      color: $light-grey;
    }
  }
  a {
    color: $primary;
    text-decoration: none;
  }

  &.breadcrumb-dark {
    background-color: $primary;
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
    .breadcrumb-item {
      margin-right: 0.3rem;
      &:not(:last-child):after {
        content: "/";
        color: white;
      }
      &.active {
        font-family: "Inter Bold", sans-serif;
        cursor: default;
        color: white;
      }
    }
  }
}
