.container {
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.code-block {
  padding: 30px;
  border: 2px solid cyan;
  border-radius: 0.15rem;
}
