.dropdown-container {
  position: absolute;
  top: 4.2rem;
  left: 0;
  z-index: 5;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  transition: all ease-in $transition-speed;
  @include shadow;
}

.ddshow {
  opacity: 1;
  pointer-events: all;
}

.ddhide {
  opacity: 0;
  pointer-events: none;
}

.up {
  transform: scaleY(1);
}

.down {
  transform: scaleY(-1);
  color: $primary;
}

.dropdown-title {
  margin-bottom: 1.25rem;
}

.dropdown-link-list {
  display: flex;
  flex-direction: column;
  transition: all ease-in $transition-speed;
  .dropdown-icon-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.3rem 0rem;
    &:hover {
      .dropdown-icon-item-link {
        .title {
          color: $primary;
        }
      }
    }
    .im {
      font-size: 2.2rem;
      margin-right: 1rem;
      color: $primary;
    }
    .dropdown-icon-item-link {
      display: flex;
      flex-direction: column;
      .title {
        font-family: "Inter Semi Bold", sans-serif;
        color: $dark;
        margin-bottom: 0.25rem;
        transition: all ease-in $transition-speed;
      }
    }
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}
