.container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.code-block {
  padding: 30px;
  border: 2px solid cyan;
  border-radius: 0.15rem;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-shade {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $bg-light;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $dark;
  }
}
