.navbar {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0rem 0rem;
  list-style: none;
  background-color: $dark;
  color: white;
  min-height: 4.2rem;
  z-index: 1;
  .nav-item {
    @include nav-item(white);
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-light {
  background-color: white;
  color: $dark;
  @include shadow;
  z-index: 1;
  .nav-item {
    @include nav-item($dark);
  }
  a {
    text-decoration: none;
    color: $dark;
  }
}

.navbar-sm {
  min-height: 2.8rem;
  .nav-item {
    font-size: 0.75 * $index;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
  }
  .navbar-brand {
    display: inline-flex;
    align-items: center;
    margin-right: 2.75rem;
    height: 100%;
    .navbar-brand-title {
      font-size: 1 * $index;
      font-weight: normal;
      font-family: "Inter Semi Bold", sans-serif;
    }
    .navbar-brand-logo {
      width: 1.65rem;
      margin-right: 0.8rem;
    }
  }
}

.navbar-sticky {
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.navbar-container-fluid {
  display: flex;
  width: 97%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.navbar-brand {
  display: inline-flex;
  margin-right: 2.75rem;
  height: 100%;
  .navbar-brand-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 * $index;
    font-weight: normal;
    font-family: "Inter Semi Bold", sans-serif;
    height: 100%;
  }
  .navbar-brand-logo {
    width: 2rem;
    margin-right: 0.8rem;
  }
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
