.navbar {
  display: flex;
  width: 100%;
  padding: 0.6rem 0.1rem;
  list-style: none;
  background-color: $dark;
  color: white;
  min-height: 3.2rem;
  .nav-item {
    display: inline-block;
    padding: 0.45rem 0.1rem;
    font-weight: normal;
    font-family: "Metropolis Semi Bold", sans-serif;
    color: white;
    cursor: pointer;
    &:after {
      content: "";
      width: 0%;
      height: 8.5%;
      position: absolute;
      border-radius: 0.15rem;
      background-color: $primary;
      bottom: -0.25rem;
      left: calc(50%);
      transition: all ease-in-out 0.125s;
    }
    &:hover:after {
      width: 100%;
      left: calc(0%);
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.navbar-container-fluid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.85rem;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  margin-right: 2.75rem;
  .navbar-brand-title {
    font-size: 1.3 * $index;
    font-weight: normal;
    font-family: "Metropolis Semi Bold", sans-serif;
  }
  .navbar-brand-logo {
    width: 2.25rem;
    margin-right: 0.8rem;
  }
}

.navbar-light {
  background-color: white;
  color: $dark;
  .nav-item {
    display: inline-block;
    font-weight: normal;
    font-family: "Metropolis Semi Bold", sans-serif;
    color: $dark;
    &:after {
      content: "";
      width: 0%;
      height: 8.5%;
      position: absolute;
      border-radius: 0.15rem;
      background-color: $dark;
      bottom: -0.25rem;
      left: calc(50%);
      transition: all ease-in-out 0.125s;
    }
    &:hover:after {
      width: 100%;
      left: calc(0%);
    }
  }
  a {
    text-decoration: none;
    color: $dark;
  }
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-item:not(:last-child) {
  margin-right: 2.25rem;
}
