$primary: #0060df;
$secondary: #9858f4;
$success: #28a745;
$danger: #dc3545;

$dark: #20123a;
// $dark-lighter: #2c2f33;
// $dark: #23272a;
$dark-grey: #202529;
$light-grey: lighten(#202529, 7.5%);
$lighter-grey: #cad2d8;
