$index: 1.2rem;

@font-face {
  font-family: "Metropolis Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Regular"),
    url("fonts/metropolis/Metropolis-Regular.woff") format("woff");
}

@font-face {
  font-family: "Metropolis Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Bold"),
    url("fonts/metropolis/Metropolis-Bold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Semi Bold"),
    url("fonts/metropolis/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Metropolis Extra Bold"),
    url("fonts/metropolis/Metropolis-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"),
    url("fonts/inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Semi Bold"),
    url("fonts/inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold"), url("fonts/inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Extra Bold"),
    url("fonts/Inter/Inter-ExtraBold.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  line-height: 1.2;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.25 * $index;
  font-weight: normal;
  font-family: "Metropolis Extra Bold", sans-serif;
}

h2 {
  font-size: 2 * $index;
  font-weight: normal;
  font-family: "Metropolis Extra Bold", sans-serif;
}

h3 {
  font-size: 1.75 * $index;
  font-weight: normal;
  font-family: "Metropolis Bold", sans-serif;
}

h4 {
  font-size: 1.5 * $index;
  font-weight: normal;
  font-family: "Metropolis Bold", sans-serif;
}

h5 {
  font-size: 1.25 * $index;
  font-weight: normal;
  font-family: "Metropolis Semi Bold", sans-serif;
}

h6 {
  font-size: 1 * $index;
  font-weight: normal;
  font-family: "Metropolis Semi Bold", sans-serif;
}

p {
  font-family: "Inter Regular", sans-serif;
  color: $light-grey;
}

hr {
  display: block;
  margin: 0.5em 0;
  border: none;
  border-bottom: 1px solid $lighter-grey;
  opacity: 0.5;
}

button {
  font-weight: normal;
  font-family: "Metropolis Semi Bold", sans-serif;
}

// .nav {
//   font-weight: normal;
//   font-family: "Metropolis Semi Bold", sans-serif;
//   font-size: 1.1 * $index;
// }
