@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "./components/alert";
@import "./components/container";

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
