@import "./colors";
@import "./typography";
@import "./mixins";
@import "./components/layout";
@import "./components/nav";
@import "./components/alert";
@import "./components/button";
@import "./components/breadcrumbs";
@import "./components/card";

* {
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  transform: translateZ(0);
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
